In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Gender.csv")

In [3]:
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
li=pd["gender"]

      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
0             1               11.8                 6.1          1          0
1             0               14.0                 5.4          0          0
2             0               11.8                 6.3          1          1
3             0               14.4                 6.1          0          1
4             1               13.5                 5.9          0          0
...         ...                ...                 ...        ...        ...
4996          1               13.6                 5.1          0          0
4997          1               11.9                 5.4          0          0
4998          1               12.9                 5.7          0          0
4999          1               13.2                 6.2          0          0
5000          1               15.4                 5.4          1          1

      lips_thin  distance_nose_to_lip_long  gender
0             1                          1    Male
1             1                          0  Female
2             1                          1    Male
3             1                          1    Male
4             0                          0  Female
...         ...                        ...     ...
4996          0                          0  Female
4997          0                          0  Female
4998          0                          0  Female
4999          0                          0  Female
5000          1                          1    Male

[5001 rows x 8 columns]